.phone-linebreak {
    display: none;
}
#logo>img:not(#logo-image) {
    display: none;
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 25px;
    }
    header {
        flex-direction: column;
        font-size: 2.5em;
        height: auto;
        justify-content: flex-start;
    }
    #header-left {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
    }
    header li:hover {
        transform: scale(1) !important;
    }
    #header-right {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    header li:not(#logo) {
        display: flex;
        justify-content: center;
    }
    .phone-linebreak {
        display: block;
    }
    #logo {
        justify-content: space-between;
        width: 100%;
        margin-left: 0;
        align-items: center;
    }
    #logo>p {
        margin-left: 0;
    }
    #logo-image {
        margin-left: 1em;
        width: 2em;
        height: 2em;
    }
    #menu-icon {
        width: 2em;
        height: 1.8em;
        margin-right: 1em;
    }
    #menu-icon>p {
        width: 100%;
        height: 0.4em;
        background-color: #F1C40F;
        border-radius: 0.2em;
        transition: 0.5s;
        transform-origin: right;
        margin-bottom: 0.3em;
    }
    .opened #menu-icon>p:nth-child(1) {
        transform: rotate(-45deg);
    }
    .opened #menu-icon>p:nth-child(3) {
        transform: rotate(45deg);
    }
    .opened #menu-icon>p:nth-child(2) {
        transform: scale(0);
    }
    .opened>ul {
        display: flex !important;
    }
    .opened>ul>li {
        margin-bottom: 1em;
    }
    #introduction>p {
        font-size: 2em;
    }
    article:not(#introduction)>h1 {
        font-size: 3em;
    }
    .slide li {
        width: calc(60vw - 2vh - 4px);
    }
    .profile-box {
        width: calc(60vw - 3vh - 4px);
    }
    .profile-box {
        font-size: 2em;
    }
    #project li:not(#project li:nth-child(1)) {
        display: none !important;
    }
    #project li:nth-child(1) {
        width: 60%;
        font-size: 2em;
    }
    #project>p {
        font-size: 2em;
    }
    #project>ul {
        height: calc(60vh + 4em);
        width: 100%;
        justify-content: center;
    }
    #join-main {
        font-size: 1.5em;
        width: 80%;
    }
    #link-cover {
        width: calc(100% - 2em);
    }
    footer {
        font-size: 1.5em;
    }
    header:not(.opened) #logo {
        height: 12vh;
    }
}
